<!DOCTYPE html>
<html lang="en" ng-app="LyricSearchTool">
  <head>
    <meta charset="utf-8">
    <title>Lyrical</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/lyricSearchController.js"></script>
    <script src="js/searchFactory.js"></script>
    <script src="js/secrets.js"></script>

  </head>

  <body ng-controller="LyricSearchController as searchCtrl">
    <div>
      <h2>Lyrical</h2>
      <form class="form-horizontal">
        <input type="text" ng-model="searchCtrl.searchTerm"
                           ng-change="searchCtrl.doSearch()"
                           ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                           placeholder="Find lyrics">
        <button class="btn" ng-click="searchCtrl.doSearch()">Search</button>
      </form>
      </br>
      <ul class="list-group" ng-show="searchCtrl.searchTerm">
        <li ng-repeat="item in searchCtrl.searchResult" class="list-group-item">
          {{item.track.track_name}} <b>{{item.track.artist_name}}</b>
        </li>
      </ul>
    </div>
  </body>
</html>
