body {
  font-family: 'Droid Serif', serif;
}

header {
  text-align: center;
  background-color: rgb(242, 242, 242);
  padding: 1% 0 1% 0;
}

h2 {
  font-family: 'Homemade Apple', cursive;
}

.btn#search {
  background-color: rgb(255, 26, 117);
  color: rgb(255, 255, 255);
}
